.hero {
  position: relative;
  display: block;
  border-radius: 12px;
  overflow: hidden;
}

.hero__titleButtonContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  align-items: center;
  bottom: 0;
  padding-bottom: 64px;
}

.hero__title {
  color: #fff;
  font-size: 38px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 24px;
}

.hero__button {
  width: 157.442px;
  height: 52px;
  border-radius: 32px;
  padding: 16px 32px 16px 32px;
  border: 0;
}

.hero__buttonInnerText {
  cursor: pointer;
  text-align: center;
  font-size: 18px !important;
  font-weight: 800 !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
  background-clip: text !important;
  -webkit-background-clip: text !important;
  overflow: clip;
}

@media (width <= 1024px) {
  .hero {
    border-radius: 0;
  }
}
