.container {
  position: relative;
  margin: 0 80px 48px 80px;
}

.innerContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.titleAndImage {
  position: relative;
  display: block;
}

.titleAndButton {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 95px;
  color: #fff;
}

.image {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: min(100%, 1600px);
}

.image_pc {
  display: block;
}

.image_mobile {
  display: none;
}

@media (width <= 1440px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }

  .title {
    font-size: 74px;
  }

  .image {
    border-radius: 0;
  }
}

@media (width <= 1127px) {
}

@media (width <= 800px) {
  .titleAndButton {
    padding: 32px 24px;
  }

  .title {
    font-size: 43px;
  }

  .image_pc {
    display: none;
  }

  .image_mobile {
    display: block;
  }
}
