.container {
  position: fixed;
  display: flex;
  height: 80px;
  color: #fff;
  margin-left: 80px;
  align-items: center;
  z-index: 2;
}

.logo {
  display: block;
  cursor: pointer;
}

.logo_scrolled {
  color: #fe395c;
}

@media (width <= 1024px) {
  .container {
    margin-left: 40px;
  }
}
