.container {
  padding: 48px 80px 0 80px;
  background-color: #f7f7f7;
}

.menuAndCompany {
  display: flex;
  flex-direction: column;
}

.menuCollections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1);
  padding-bottom: 48px;
}

.company {
  border-top: 1px solid #dddddd;
  padding: 24px 0 24px 0;
  font-size: 14px;
  font-weight: 300;
  color: rgb(34, 34, 34);
  /* height: 20px; */
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu__header {
  font-size: 14px;
  font-weight: 600;
}

.menu__linksContaier {
  display: grid;
  /* grid-template-columns: 1; */
}

.menu__link {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(34, 34, 34);
}

.menu__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (width <= 1127px) {
  .container {
    padding: 40px;
  }

  .menuCollections {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4);
    padding-bottom: 32px;
  }

  .menu {
    margin-bottom: 24px;
    border-bottom: 1px solid rgb(193, 193, 193);
    padding-bottom: 24px;
  }

  .menu:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }

  .menu__linksContaier {
    grid-template-columns: repeat(3, 1fr);
    /* margin-bottom: 24px;
    border-bottom: 1px solid rgb(193, 193, 193);
    padding-bottom: 24px; */
  }
}

@media (width <= 800px) {
  .menu__linksContaier {
    grid-template-columns: repeat(1, 1fr);
    /* margin-bottom: 24px;
    border-bottom: 1px solid rgb(193, 193, 193);
    padding-bottom: 24px; */
  }
  /* .menu__linksContaier:last-child {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 24px;
    border-bottom: 0;
    padding-bottom: 24px;
  } */
}
