.nav {
  display: flex;
  min-height: 80px;
  width: 100%;
  position: fixed;
  background-color: #000;
  color: #fff;
  transition: 0.2s;
  z-index: 1;
}

.nav_scrolled {
  background-color: #fff;
  color: #000;
}

.nav__center {
  display: flex;
  min-height: 80px;
  top: 0;
  width: 100%;
  position: relative;
  transition: 0.2s;
}

.nav__center_searchDisabled {
  top: -60px;
}

@media (width <= 1024px) {
  .nav {
    justify-content: left;
  }
}
