.nav {
  display: flex;
  height: 80px;
  width: 100%;
  position: fixed;
  color: #fff;
  transition-property: height;
  transition: 0.2s;
  z-index: 1;
}

.nav_scrolled {
  background-color: #fff;
  color: #000;
}

.nav_searchEnabled {
  height: 180px;
}

.nav__center {
  display: flex;
  min-height: 80px;
  top: 0;
  width: 100%;
  position: relative;
  transition: 0.2s;
  background-color: #000;
}

.nav__center_searchDisabled {
  top: -60px;
}

.nav__center_scrolled {
  background-color: #fff;
}

.nav__mobile {
  display: none;
  width: 100%;
  height: 80px;
  padding: 16px 24px;
  background-color: aqua;
}

@media (width <= 1024px) {
  .nav {
    justify-content: left;
  }
}

@media (width <= 768px) {
  .nav {
    display: none;
  }

  .nav__mobile {
    display: block;
  }
}
