.container {
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  color: #fff;
  height: 80px;
  margin-right: 80px;
  z-index: 2;
}

.hostButton {
  padding: 12px;
  cursor: pointer;
  border-radius: 22px;
  -webkit-font-smoothing: antialised;
}

.hostButton:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.hostButton__scrolled {
  color: #000;
}

.langButton {
  cursor: pointer;
  padding: 12px;
  background: transparent;
  border: 0;
  border-radius: 22px;
  color: inherit;
}

.langButton:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.langButton__scrolled {
  color: #000;
}

.globeIcon {
  display: block;
  height: 16px;
  width: 16px;
  fill: currentcolor;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 77px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 22px;
  padding: 5px 5px 5px 12px;
  background: #fff;
  cursor: pointer;
}

.langButton__container {
  margin-right: 8px;
}
.menuIcon {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 3;
  overflow: visible;
}

.profileIcon {
  display: block;
  height: 100%;
  width: 100%;
  fill: currentcolor;
}

.profileIcon__container {
  height: 30px;
  width: 30px;
  margin-left: 12px;
  color: #717171;
}

@media (width <= 1024px) {
  .container {
    margin-right: 40px;
  }
}

@media (width <= 768px) {
  .container {
    display: none;
  }
}
