.root {
  position: relative;
}

.background {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.black {
  background-color: #000;
  flex: 1;
}

.white {
  background-color: #fff;
  flex: 1;
}

.container {
  position: relative;
  margin: 0 80px 0 80px;
}

.background {
  display: flex;
  flex-direction: column;
}

.image {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.labels {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.labels__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.labels__subText {
  font-size: 19px;
  font-weight: 600;
}

.labels__productName {
  font-size: 95px;
  font-weight: 600;
  text-align: center;
}

.mobileImage {
  display: none;
}

@media (width <= 1024px) {
  .container {
    margin: 0 40px 0 40px;
  }

  .labels__productName {
    font-size: 74px;
  }
}

@media (width <= 900px) {
  .labels__productName {
    font-size: 49px;
  }
}

@media (width < 800px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 24px 0 24px;
    background-color: #ebebeb;
    border-radius: 12px;
    overflow: hidden;
  }

  .labels {
    position: absolute;
    width: 100%;
    /* z-index: 1; */
    /* background-color: aqua; */
  }

  .labels__container {
    justify-content: end;
    padding: 30px;
  }

  .labels__subText {
    font-size: 16px;
    padding-bottom: 12px;
  }

  .labels__productName {
    font-size: 39px;
    padding-bottom: 24px;
  }

  .image {
    display: none;
  }

  .mobileImage {
    display: block;
  }
}
