.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(221, 221, 221);
  padding: 8px 24px 8px 24px;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  min-width: 386px;
  height: 58px;
  cursor: pointer;
}
